# MySQL
MYSQL_ROOT_PASSWORD=change_this_root_password
MYSQL_DATABASE=iot_db
MYSQL_USER=iot_user
MYSQL_PASSWORD=change_this_mysql_password

# MQTT (Maqiatto)
MQTT_USER=your_email@domain.com
MQTT_PASS=change_this_mqtt_password
