# MySQL
MYSQL_ROOT_PASSWORD=change_this_root_password
MYSQL_DATABASE=iot_db
MYSQL_USER=iot_user
MYSQL_PASSWORD=change_this_mysql_password

# MQTT (Maqiatto)
MQTT_SERVER=maqiatto.com
MQTT_PORT=1883
MQTT_USER=your_email@domain.com
MQTT_PASS=change_this_mqtt_password
TOPICO_COMANDOS=alejandro.bravo_isa@uao.edu.co/comandos
TOPICO_DATOS=alejandro.bravo_isa@uao.edu.co/alertas

# Simulador
SIM_INTERVAL_SECONDS=7
SIM_MISSING_PROB=0.05
SIM_OUTLIER_PROB=0.04
SIM_DUP_PROB=0.02
SIM_GAP_PROB=0.01
SIM_GAP_SECONDS=35
